<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Plants Database</h4>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nazwa</th>
                        <th>Opis</th>
                    </tr>
                </thead>
                <tbody id="table-plants"></tbody>
            </table>
        </div>
    </div>
</div>
<script src="../js/plants.js"></script>