<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Plants Database</h4>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="30%">Nazwa</th>
                        <th width="65%">Opis</th>
                        <th>Zdjęcia</th>
                    </tr>
                </thead>
                <tbody id="table-plants">
                </tbody>
                <script type="text/javascript">
                    const json = getPlants();
                    const tbody = document.getElementById("table-plants");
                    let codeInner = "";

                    // To jest obrzydliwe... ale czas to pieniądz :D
                    json.forEach(element => codeInner += "<td>\n"
                        + "<td>" + element["name"] + "</td>\n"
                        + "<td>" + element["description"] + "</td>\n"
                        + "<td><a href=\"" + element["file"] + "\"><img width=\"100%\" src=\"../../res/link_icon.png\"></a></td>\n"
                        + "</tr>\n"
                    );
                    tbody.innerHTML = codeInner;
                </script>
            </table>
        </div>
    </div>
</div>
<script src="../js/plants.js"></script>